<%= form_with(model: comment) do |form| %>
  <div class="card">
    <div class="card-header text-white">
      New info
    </div>
    <div class="card-body">
      <div class="mb-3">
        <div class="field">
          <%= form.text_area :text_ ,class: "form-control" , rows: 10, placeholder:"Write comment...." %>
        </div>
     

          <div class="actions">
            <%= form.hidden_field :User_id, value: current_user.id %>
            <%= form.submit %>
          </div>
      </div>
    </div>
  </div>
  <% end %>