#shortcontent {
    display: inline;
    word-wrap: break-word;
}

.userblock {
  display: block!important;
}

.bg-red {
  background-color: #dc3545;
}

.feed-shared-header--with-control-menu {
    padding-right: 40px;
    min-height: 36px;
}
.feed-shared-header--with-divider {
    border-bottom: 1px solid var(--color-border-faint);
}
.feed-shared-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 12px;
    margin-right: 16px;
    margin-left: 16px;
}

.rounded {
  border-radius: 4px!important;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 2 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.time {
  font-size: 9px !important
}

#infopanel {
  border-color: rgba(126, 239, 104, 0.8);
  
  outline: 0 none;
}

.sidebar {
  transition: all 0.3s ease;
  position: relative;  
  width: 250px;
  height: 100%;
  clear: none;
  left: 0;
}

.content {
  transition: all 0.5s ease;  
  height: 100%;
  margin-left: 250px;
  overflow: hidden;
}
.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer
}

.feed-image img {
  width: 100%;
  height: auto
}

span {
  display: inline-block;
  word-wrap:break-word;
  width: 100%;
  white-space: nowrap;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.color-swatches {
  display: flex;
  margin: 0 -5px;
}
.color-swatches .bd-purple {
  background-color: #563d7c;
}
.color-swatches .bd-purple-light {
  background-color: #cbbde2;
}
.color-swatches .bd-purple-lighter {
  background-color: #e5e1ea;
}
.color-swatches .bd-gray {
  background-color: #f9f9f9;
}

.color-swatch {
  width: 4rem;
  height: 4rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .color-swatch {
    width: 6rem;
    height: 6rem;
  }
}

.swatch-blue {
  color: #fff;
  background-color: #0d6efd;
}

.swatch-indigo {
  color: #fff;
  background-color: #6610f2;
}

.swatch-purple {
  color: #fff;
  background-color: #6f42c1;
}

.swatch-pink {
  color: #fff;
  background-color: #d63384;
}

.swatch-red {
  color: #fff;
  background-color: #dc3545;
}

.swatch-orange {
  color: #212529;
  background-color: #fd7e14;
}

.swatch-yellow {
  color: #212529;
  background-color: #ffc107;
}

.swatch-green {
  color: #fff;
  background-color: #28a745;
}

.swatch-teal {
  color: #fff;
  background-color: #20c997;
}

.swatch-cyan {
  color: #fff;
  background-color: #17a2b8;
}

.swatch-white {
  color: #212529;
  background-color: #fff;
}

.swatch-gray {
  color: #fff;
  background-color: #6c757d;
}

.swatch-gray-dark {
  color: #fff;
  background-color: #343a40;
}

.swatch-100 {
  color: #212529;
  background-color: #f8f9fa;
}

.swatch-200 {
  color: #212529;
  background-color: #e9ecef;
}

.swatch-300 {
  color: #212529;
  background-color: #dee2e6;
}

.swatch-400 {
  color: #212529;
  background-color: #ced4da;
}

.swatch-500 {
  color: #212529;
  background-color: #adb5bd;
}

.swatch-600 {
  color: #fff;
  background-color: #6c757d;
}

.swatch-700 {
  color: #fff;
  background-color: #495057;
}

.swatch-800 {
  color: #fff;
  background-color: #343a40;
}

.swatch-900 {
  color: #fff;
  background-color: #212529;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Lato", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.p-3 {
  padding: 1rem;
}

.font-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
}

.d-block {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}

.col-md-4 {
  width: 50%;

  @media (min-width: 768px) {
    width: 20%;
  }

  @media (min-width: 992px) {
    width: 15%;
  }

  @media (min-width: 1280px) {
    width: 10%;
  }
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.comments-comment-item {
  background-color: transparent;  
  margin-top: 2px;
  margin-left: 6px;
  padding-left: 6px;
  clear: left;
  min-height: 0;
  display: block;
}
.comments-comment-feed {
  border: 1px solid #b8b9bd;
  background-color:#ebecf1;
}

.feed-shared-inline-show-more-text * {
  line-height: inherit!important;
}
.relative{
  position: relative!important;
}

.no_deco_link { 
  text-decoration:none; 
}
.remove_link_colour {
  a, a:hover, a:focus, a:active {
      color: black;
  }
}
.share-box {
  background-color: transparent;
  color: #b8b9bd;;
  margin: 4px 0;
  font-size: 1.4rem;
  flex-grow: 1;  
  justify-content: center;  
  line-height: 1;
  border: 1px solid ;
  border-radius: 35px!important;
  padding-left: 16px!important;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  align-items: center;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer; 
  font-weight: 600;  
  display: block;
  justify-content: center;
  min-width: 6.4rem;  
  
  text-align: center;
  transition-property: background-color,box-shadow,color;
  vertical-align: middle;
}