<div class="card mt-3 rounded usercard">
    <form>
        <fieldset disabled>
            <div class="card-body">
                <div class="mb-3 text-center rounded user-photo-back">
                    <%= image_tag current_user.photo.variant(resize_to_fill: [90, 90]) ,class:"rounded-circle p-2" %>
                </div>
                <div class="mb-3 text-center userblock">
                    <div class="field mt-3">
                        <div class="mb-3">
                            <input type="text" id="disabledusername" value=<%=current_user.name%> class="form-control" >
                        </div>
                        <div class="mb-3">
                            <input type="text" id="disableduserlastname" value=<%=current_user.lastname%>
                            class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>