<%= toastr_flash %>
  <div class="d-flex justify-content-center mt-1 mb-1 bd-blue-800 ">
    
      <%= link_to fa_icon('mdi mdi-account-edit', text: "new" ), new_info_path, class: "btn btn-primary" , :remote=>
        true , "data-toggle" => "modal", "data-target" => "#modal-window" %>
    
  </div>
  <div data-controller="infinite-scroll">
    <div data-infinite-scroll-target="entries">
      <%= render "infos" %>
    </div>
    <div data-infinite-scroll-target="pagination" style="visibility: hidden">
      <%== pagy_nav @pagy %>
    </div>
  </div>

  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>