<p id="notice"><%= notice %></p>
<div class="bg-white mt-2 border border-dark rounded-top rounded-bottom rounded ">
<div class="p-2 px-3 text"><span style="white-space: pre-line;">
<%= @info.contents %>
              </span></div>
            </div>
            <div class="actions">            
            <%= link_to 'Back', infos_path, class: "btn btn-primary" %>
          </div>
